/* General styles */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.7)), url('/pokerbg.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 0.5s ease;
}

.game-area, .start-game-screen {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px;
  border-radius: 20px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
}

/* Enhancing card hover effect */
.card:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  z-index: 10;
}

/* Button styles */
button {
  margin: 0.5em;
  padding: 10px 30px;
  background-image: linear-gradient(to bottom, #4CAF50, #397d3a);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  transition: all 0.3s ease;
  letter-spacing: 0.05em;
}

button:hover, button:focus {
  background-image: linear-gradient(to bottom, #45a049, #366e33);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

/* Card styles */
.card {
  width: 150px;
  height: 214px;
  margin: 10px;
  display: inline-block;
  background-image: url('https://i.imgur.com/yKggR5N.png'); /* Card sprite */
  border-radius: 10px;
  background-position-x: 0px;
  background-position-y: center;
  background-repeat: none;
  background-position: middle center; 
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease-in-out;
  box-sizing: border-box; 
}

/* Information and placeholders */
.deck-info, .hand-info, .hand-rank-info, .start-game-screen {
  background: rgba(255, 255, 255, 0.1);
  padding: 15px 25px;
  margin: 1em 0;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.placeholder {
  color: #ccc;
}
